@model KullaniciGirisModel

<form asp-action="GirisYap" method="post" class="p-4 w-50 mx-auto shadow">
    <div class="form-group">
        <label >Kullanıcı Adı  </label>
        <span asp-validation-for="@Model.kullaniciAd" class="text-danger"></span>
        <input type="text" asp-for="@Model.kullaniciAd" class="form-control"/>
    </div>
    <div class="form-group mt-2">
        <label>Şifre  </label>
        <span asp-validation-for="@Model.sifre" class="text-danger"></span>
        <input type="password" asp-for="@Model.sifre" class="form-control" />
    </div>
    <div class="form-check mt-2">
        <input type="checkbox" asp-for="@Model.beniHatirla" class="form-check-input" />
        <label asp-for="beniHatirla" class="form-check-label">Beni Hatırla</label>
    </div>

    <div asp-validation-summary="ModelOnly" class="text-danger">

    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg">Giriş Yap</button>
    </div>
    
</form>

@section JavaScript{ 
    <script src="~/jqueryValid/jquery.validate.min.js"></script>
    <script src="~/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
}